*{
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
    background-color: #35144F;
    color: #fff;
    overflow-x: hidden;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
  	align-items: center;
    margin: 200px 0;
   background: url(/Image/backgroundSection.svg) no-repeat center;
   background-size: 50em;
}

section p {
    font-size: 25px;
}

section h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 100px;
}


/* Navbar Section Start */
.navbar {
    width: 100%;
    padding: 40px 0;
    position: absolute;
    z-index: 1;
}

#navbarNav ul li a {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
    text-transform: uppercase;
    color: #ea19e0;
    text-shadow:
    0 0 20px #ea19e0;


}

#navbarNav ul li a:hover {
    color: white;
    text-shadow: 0 0 5px rgb(112, 88, 88),
    0 0 10px #fff,
    0 0 15px #ff0080,
    0 0 20px #ff0080,
    0 0 30px #ff0080;

}


#logoNav {
    height: 55px;
}

/* Navbar Section End */

/* Banner Start */


.banner .banner-content {
    position: absolute;
    width: auto;
    max-width: 480px;
    z-index: 100;
    color: #FFF;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
    text-align: center;
}

.banner .banner-content h1 {
    font-weight: 600;
    font-size: 60px;
    letter-spacing: .3em;
}

.banner .banner-content p {
    letter-spacing: .2em;
    opacity: .5;
} 

.banner-text h1{
    background: none;
}

.banner-content h1 {
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}
/* Banner End */

/* Section About */

#aboutUs {
    color: #fff;
}

#aboutUs img {
    width: 400px;
}

#aboutUs .text {
    margin-top: 10px;
}

#aboutUs .stand-decord {
    height: 200px;
    position: absolute;
    right: -40px;
    top: -100px;
    z-index: 1;
}

.pause-button {
    position: absolute;
    width: 200px;
    left: -130px;
    top: 80%;
}

/* Section About End */

/* Section team */

#team {
    background: none;
}

#team .info {
    text-align: center;
}

#team .right-decord {
    position: absolute;
    right: 90px;
}

/* Section team end */

#feature {
    background: none;
}

#feature .play-button {
    width: 350px;
    position: absolute;
    bottom: -20%;
    right: 13%;
}

/* Section use cases */

#useCase img {
    width: 400px;
    margin-top: 30px;
}

/* Sectoin use cases end */

#feature img {
    width: 60px;
    margin-right: 30px;
}

#team img {
    width: 200px;
    margin-bottom: 50px;
}

#useCase  .logo{
    width: 60px;
    margin-right: 30px;
    margin-bottom: 25px;
}

#useCase .left-decord {
    width: 200px;
    position: absolute;
    top: 80%;
    left: 30%;
}

#tokenomic .tokenomic {
    width: 700px;
    margin-top: 30px;
}

#tokenomic .box-color {
    width: 20px;
}

#tokenomic .text-details .col-3 {
    width: 200px;
}

#roadmap h3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

#roadmap .text {
    text-align: center;
}

#roadmap .stand-decord {
    height: 150px;
    position: absolute;
    left: 5%;
    top: -10%;
}

#roadmap .play-button {
    width: 400px;
    position: absolute;
    right: 10%;
    bottom: -25%;
}

#roadmap .left-decord {
    width: 200px;
    position: absolute;
    left: 5%;
    bottom: 5%;
}




.neon-blue {
    color: #19c7ea;
    text-shadow:
    0 0 20px #19c7ea;
}

.neon-white {
    color: #fff;
    text-shadow: 0 0 20px #fff;
}

.neon-pink {
    color: #ea19e0;
    text-shadow:
    0 0 20px #ea19e0;
}