@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Palette+Mosaic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #020002;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 21px;
}

body {
  overflow-x: hidden;
}

main {
  background-repeat: repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-gradient {
  background: linear-gradient(178.27deg, #E2ECFB 1.47%, #538DFE 191.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-blue {
  background: linear-gradient(216.64deg, #47FFFF 52.79%, #5179FF 119.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-blue-01,
.text-menu:hover {
  background: linear-gradient(214.09deg, #C4D2FF 52.1%, #5179FF 94.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-menu:after {
  content: "";
  width: 0;
  height: 1px;
  background: linear-gradient(214.09deg, #C4D2FF 52.1%, #5179FF 94.34%);
  position: absolute;
  bottom: -3px;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .35s ease, width .35s ease;
  -moz-transition: opacity .35s ease, width .35s ease;
  -o-transition: opacity .35s ease, width .35s ease;
  transition: opacity .35s ease, width .35s ease;
}

.text-menu:hover:after,
.text-menu.active:after {
  opacity: 1;
  width: 100%;
}

.box-gradient {
  background: rgba(39, 39, 42, 0.2);
  box-shadow: 0px 5.22222px 326.389px #AD02DE;
  backdrop-filter: blur(30px);
}

.bg-white-blur {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(4px);
}

.bg-white-blur-007 {
  background: rgba(255, 255, 255, 0.07);
  box-sizing: border-box;
  backdrop-filter: blur(20px);
}

.bg-white-blur-008 {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(30px);
}

.bg-white-blur-003 {
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(40px);
}

.bg-white-blur-015 {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
}

.bg-white-012 {
  background: rgba(255, 255, 255, 0.12);
}

.bg-gradient-pink-200 {
  background: linear-gradient(180deg, #FF34D2 0%, #994DC5 100%);
}

.border-r-blur {
  position: relative;
}

.text-shadow-white-51 {
  text-shadow: 0px 3px 10px rgba(255, 255, 255, 0.51);
}

.bg-gradient-purple {
  background: linear-gradient(88.45deg, #F79CFF -3.37%, #EB00FF 15.28%, #4A26B7 91.36%, #043698 124.42%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.bg-gray-blur-015 {
  background: rgba(219, 219, 219, 0.15);
  backdrop-filter: blur(20px);
}

.border-r-blur::after {
  content: '';
  width: 1px;
  height: 100%;
  opacity: 0.2;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0;
  top: 0;
}

.box-shadow-black {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

.border-linear {
  border-width: 2px;
  border-style: solid;
  -moz-border-image: -moz-linear-gradient(134.12deg, #1E1822 0.44%, #EAC2FF 46.04%, #1945D9 75.81%, #1E1822 99%);
  -webkit-border-image: -webkit-linear-gradient(134.12deg, #1E1822 0.44%, #EAC2FF 46.04%, #1945D9 75.81%, #1E1822 99%);
  border-image: linear-gradient(134.12deg, #1E1822 0.44%, #EAC2FF 46.04%, #1945D9 75.81%, #1E1822 99%);
  -webkit-border-image-slice: 2;
  border-image-slice: 2;
}

.line-linear {
  border-top-width: 3px;
  border-style: solid;
  -moz-border-image: -moz-linear-gradient(90deg, #301B50 0%, #EAC2FF 92.4%, #1E1822 98.32%);
  -webkit-border-image: -webkit-linear-gradient(90deg, #301B50 0%, #EAC2FF 92.4%, #1E1822 98.32%);
  border-image: linear-gradient(90deg, #301B50 0%, #EAC2FF 92.4%, #1E1822 98.32%);
  -webkit-border-image-slice: 2;
  border-image-slice: 2;
}

.line,
.text-animate,
.desc-animate {
  display: block;
  will-change: opacity, transform;
  opacity: 0;
  transform: translateY(100%) translateZ(0);
  animation: 0s cubic-bezier(0.430, 0.195, 0.020, 1.000) 0s forwards line_leave;
}

.is-ready .line,
.is-ready .in-view .text-animate {
  transform: translateY(0) translateZ(0);
  animation: 2s cubic-bezier(0.430, 0.195, 0.020, 1.000) 0s forwards line_enter;
}

.is-ready .in-view .desc-animate {
  animation: 2.5s cubic-bezier(0.430, 0.195, 0.020, 1.000) 0s forwards line_enter;
}

.btn-animate {
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
  -webkit-transition: all 1s 0.8s cubic-bezier(0.630, 0.195, 0.010, 1.000);
  -moz-transition: all 1s 0.8s cubic-bezier(0.630, 0.195, 0.010, 1.000);
  -o-transition: all 1s 0.8s cubic-bezier(0.630, 0.195, 0.010, 1.000);
  transition: all 1s 0.8s cubic-bezier(0.630, 0.195, 0.010, 1.000);
}

.btn-animate .circle {
  content: "";
  width: 100%;
  height: 35px;
  border-radius: 18px;
  transform: scale(0, 0);
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid #AF5FFF;
  -webkit-transition: all 0.5s cubic-bezier(0.630, 0.195, 0.010, 1.000);
  -moz-transition: all 0.5s cubic-bezier(0.630, 0.195, 0.010, 1.000);
  -o-transition: all 0.5s cubic-bezier(0.630, 0.195, 0.010, 1.000);
  transition: all 0.5s cubic-bezier(0.630, 0.195, 0.010, 1.000);

}

.btn-animate .txt {
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.75s cubic-bezier(0.630, 0.195, 0.010, 1.000);
  -moz-transition: all 0.75s cubic-bezier(0.630, 0.195, 0.010, 1.000);
  -o-transition: all 0.75s cubic-bezier(0.630, 0.195, 0.010, 1.000);
  transition: all 0.75s cubic-bezier(0.630, 0.195, 0.010, 1.000);
}

.is-ready .in-view .btn-animate .circle,
.screen.active .btn-animate .circle {
  transform: scale(1, 1);
}

.is-ready .in-view .btn-animate,
.screen.active .btn-animate {
  transition-delay: 0.5s;
  width: 120px;
}

.is-ready .in-view .btn-animate.large,
.screen.active .btn-animate.large {
  transition-delay: 0.5s;
  width: 210px;
}

.is-ready .in-view .txt,
.screen.active .btn-animate .txt {
  transition-delay: 1s;
  opacity: 1;
}

.box {
  position: relative;
  opacity: 0;
  top: 10px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.is-ready .in-view .box {
  transition-delay: 0.25s;
  opacity: 1;
  top: 0;
}

.scrolling {
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  background: #18181B;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes line_enter {
  from {
    opacity: 0;
    transform: translateY(100%) rotate(3deg) translateZ(0);
  }

  to {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }
}

@-moz-keyframes line_enter {
  from {
    opacity: 0;
    transform: translateY(100%) rotate(3deg) translateZ(0);
  }

  to {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }
}

@-o-keyframes line_enter {
  from {
    opacity: 0;
    transform: translateY(100%) rotate(3deg) translateZ(0);
  }

  to {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }
}

@keyframes line_enter {
  from {
    opacity: 0;
    transform: translateY(100%) rotate(3deg) translateZ(0);
  }

  to {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }
}

@-webkit-keyframes line_leave {
  from {
    opacity: 1;
    transform: translateY(-15%) translateZ(0)
  }

  to {
    opacity: 0;
    transform: translateY(-100%) translateZ(0);
  }
}

@-moz-keyframes line_leave {
  from {
    opacity: 1;
    transform: translateY(-15%) translateZ(0)
  }

  to {
    opacity: 0;
    transform: translateY(-100%) translateZ(0);
  }
}

@-o-keyframes line_leave {
  from {
    opacity: 1;
    transform: translateY(-15%) translateZ(0)
  }

  to {
    opacity: 0;
    transform: translateY(-100%) translateZ(0);
  }
}

@keyframes line_leave {
  from {
    opacity: 1;
    transform: translateY(-15%) translateZ(0)
  }

  to {
    opacity: 0;
    transform: translateY(-100%) translateZ(0);
  }
}

@-webkit-keyframes btn_animate {
  from {
    opacity: 0;
    transform: scale(0) translateY(-50%) translateX(-50%)
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(-50%) translateX(-50%)
  }
}

@-moz-keyframes btn_animate {
  from {
    opacity: 0;
    transform: scale(0) translateY(-50%) translateX(-50%)
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(-50%) translateX(-50%)
  }
}

@-o-keyframes btn_animate {
  from {
    opacity: 0;
    transform: scale(0) translateY(-50%) translateX(-50%)
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(-50%) translateX(-50%)
  }
}

@keyframes btn_animate {
  from {
    opacity: 0;
    transform: scale(0) translateY(-50%) translateX(-50%)
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(-50%) translateX(-50%)
  }
}

.line-gradient {
  border: 1px solid;
  border-image-source: linear-gradient(106.71deg, #1E1822 7.98%, #EAC2FF 45.82%, #1945D9 70.53%, #1E1822 89.76%);
}

.border-top-linear {
  border-width: 1px;
  border-style: solid;
  -moz-border-image: -moz-linear-gradient(106.71deg, #1E1822 7.98%, #EAC2FF 45.82%, #1945D9 70.53%, #1E1822 89.76%);
  -webkit-border-image: -webkit-linear-gradient(106.71deg, #1E1822 7.98%, #EAC2FF 45.82%, #1945D9 70.53%, #1E1822 89.76%);
  border-image: linear-gradient(106.71deg, #1E1822 7.98%, #EAC2FF 45.82%, #1945D9 70.53%, #1E1822 89.76%);
  -webkit-border-image-slice: 2;
  border-image-slice: 2;
}

.path {
  stroke-dasharray: 3.23 3.23;
  animation: dash 50s linear infinite;
}

.path.path-1 {
  stroke-dasharray: 6.06 6.06;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

@-moz-keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

@-o-keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

/* Home */
.full-video {
  width: 73.95%;
  height: 73.95%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30.9%;
  mix-blend-mode: screen;
  pointer-events: none;
  transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
}

.full-video video {
  width: 100%;
  height: 100%;
}

.overlay-circle-0 {
  width: 48.61vw;
  height: 48.61vw;
  position: absolute;
  right: 7.5vw;
  mix-blend-mode: screen;
  pointer-events: none;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  border-radius: 100%;
  opacity: 0;
  top: 100%;
  background: radial-gradient(118.36% 118.36% at 39.65% 120.62%, rgba(200, 45, 244, 0.71) 7.56%, #1F1298 50.1%, #621EA2 100%);
  transform: translateY(-50%) matrix(-0.26, 0.96, -0.97, -0.26, 0, 0) scale(1);
  overflow: hidden;
}

.overlay-circle-0 .pl-1 {
  position: absolute;
  width: 100%;
  height: auto;
  top: -33px;
  right: -38px;
}

.overlay-circle-0 .pl-1 {
  position: absolute;
  width: 153.57%;
  height: auto;
  bottom: -94px;
  left: -143px;
}

.overlay-circle svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.step-1 .full-video {
  left: -14.5%;
}

.step-1 .overlay-circle-0 {
  top: 50%;
  opacity: 1;
}

.step-2 .full-video,
.step-3 .full-video,
.step-4 .full-video,
.step-5 .full-video,
.step-6 .full-video,
.step-7 .full-video,
.step-8 .full-video,
.step-9 .full-video,
.step-10 .full-video,
.step-11 .full-video,
.step-12 .full-video,
.step-13 .full-video {
  left: -14.5%;
  opacity: 0;
}

.step-2 .overlay-circle-0 {
  left: 50%;
  top: 50%;
  right: auto;
  opacity: 1;
  transform: translate(-50%, -50%) matrix(-0.26, 0.96, -0.97, -0.26, 0, 0) scale(1.1);
}

.step-3 .overlay-circle-0 {
  left: 57.4305556%;
  top: auto;
  bottom: -28.3950617%;
  right: auto;
  opacity: 1;
  transform: translate(0, 0) matrix(-0.26, 0.96, -0.97, -0.26, 0, 0) scale(1.1);
}

.step-4 .overlay-circle-0 {
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  opacity: 1;
  transform: translate(-50%, -50%) matrix(-0.26, 0.96, -0.97, -0.26, 0, 0) scale(1.04);
}

.step-5 .overlay-circle-0 {
  left: 50%;
  top: -55.9259259%;
  bottom: auto;
  right: auto;
  opacity: 1;
  transform: translate(-50%, 0) matrix(-0.26, 0.96, -0.97, -0.26, 0, 0) scale(1.34);
}

.step-6 .overlay-circle-0 {
  left: 50%;
  top: -93.45679%;
  bottom: auto;
  right: auto;
  opacity: 1;
  transform: translate(-50%, 0) matrix(-0.26, 0.96, -0.97, -0.26, 0, 0) scale(1.34);
}

.step-7 .overlay-circle-0,
.step-8 .overlay-circle-0 {
  left: 50%;
  top: -100%;
  opacity: 0;
  bottom: auto;
  right: auto;
  transform: translate(-50%, 0) matrix(-0.26, 0.96, -0.97, -0.26, 0, 0) scale(1.34);
}

.overlay-circle {
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  perspective: 1000;
}

.step-0 .overlay-circle-1 {
  opacity: 1;
}

.step-0 .overlay-circle-2,
.step-0 .overlay-circle-3 {
  opacity: 1;
}

.step-1 .overlay-circle-4 {
  right: 0;
  opacity: 0;
}

.step-1 .overlay-circle-5 {
  opacity: 1;
}

.step-2 .overlay-circle-6,
.step-3 .overlay-circle-6,
.step-4 .overlay-circle-6,
.step-5 .overlay-circle-6,
.step-6 .overlay-circle-6 {
  opacity: 1;
}

.step-6 .overlay-circle-7 {
  opacity: 1;
}

.step-7 .overlay-circle-8,
.step-8 .overlay-circle-8 {
  opacity: 1;
}

.step-9 .overlay-circle-9,
.step-9 .overlay-circle-10,
.step-10 .overlay-circle-9,
.step-10 .overlay-circle-10,
.step-11 .overlay-circle-9,
.step-11 .overlay-circle-10 {
  opacity: 1;
}

.step-12 .overlay-circle-11,
.step-12 .overlay-circle-12 {
  opacity: 1;
}

:root {
  --content-appear-time: .75s;
}

.heading {
  opacity: 0;
  transition: opacity var(--content-appear-time);
}

.heading span {
  display: inline-block;
}

.heading span:first-child {
  transform: translate3d(15rem, 0, 0);
  transition: transform var(--content-appear-time) ease;
}

.heading span:last-child {
  transform: translate3d(25rem, 0, 0);
  transition: transform var(--content-appear-time) ease;
}

.bg-blur-1 {
  background: rgba(116, 42, 154, 0.51);
  filter: blur(162.903px);
}

.bg-blur-2 {
  background: rgba(61, 23, 227, 0.41);
  filter: blur(400px);
  transform: rotate(18.37deg);
}

.bg-blur-3 {
  background: #420A8D;
  filter: blur(300px);
  transform: rotate(18.37deg);
}

.bg-blur-4 {
  background: #873486;
  opacity: 0.67;
  filter: blur(311.806px);
  transform: rotate(18.37deg);
}

.bg-blur-5 {
  background: #320A70;
  filter: blur(300px);
  transform: rotate(18.53deg);
}

.text-fadein {
  opacity: 0;
  transition: var(--content-appear-time) opacity .25s ease;
}

.sub-heading {
  transition: var(--content-appear-time) transform .1s, var(--content-appear-time) opacity .1s;
  transform: translate3d(0, 5rem, 0);
  opacity: 0;
}

.screen .desc,
.screen .box {
  top: 0;
  transition: var(--content-appear-time) transform .2s, var(--content-appear-time) opacity .2s;
  transform: translate3d(0, 5rem, 0);
  opacity: 0;
}

.screen.active .heading {
  opacity: 1;
}

.screen.active .heading span {
  transform: translateZ(0);
}

.screen.active .text-fadein {
  opacity: 1;
}

.screen.active .sub-heading {
  transform: translateZ(0);
  opacity: 1;
}

.screen.active .desc,
.screen.active .box {
  transform: translateZ(0);
  opacity: 1;
}

.features-slider {
  padding-top: 92px !important;
}

.roadmap-slider {
  /* width: calc(100vw - 124px); */
  padding: 0 50px !important;
}

.line-linear {
  width: calc(100% - 124px);
  margin: 0 auto;
}

.features-slider .swiper-slide {
  width: 385px;
  height: auto;
}

.team-slider .swiper-slide {
  width: 100px;
  height: auto;
}

.roadmap-slider .swiper-button-prev,
.roadmap-slider .swiper-button-next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  background-repeat: no-repeat;
  background-position: center center;
  transform: translateY(0);
  top: 38px;
}

.features-slider .swiper-button-prev,
.features-slider .swiper-button-next {
  width: 32px;
  height: 32px;
  top: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
  transform: translateY(0);
  background-repeat: no-repeat;
  background-position: center center;
}

.features-slider .swiper-button-prev:after,
.features-slider .swiper-button-next:after,
.roadmap-slider .swiper-button-prev:after,
.roadmap-slider .swiper-button-next:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: 100% auto;
  /* background-image: url("data:image/svg+xml,%0A%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 16C0 7.16344 7.16344 0 16 0V0C24.8366 0 32 7.16344 32 16V16C32 24.8366 24.8366 32 16 32V32C7.16344 32 0 24.8366 0 16V16Z' fill='white' fillOpacity='0.1'/%3E%3Cpath d='M16 31C7.71573 31 1 24.2843 1 16H-1C-1 25.3888 6.61116 33 16 33V31ZM31 16C31 24.2843 24.2843 31 16 31V33C25.3888 33 33 25.3888 33 16H31ZM16 1C24.2843 1 31 7.71573 31 16H33C33 6.61116 25.3888 -1 16 -1V1ZM16 -1C6.61116 -1 -1 6.61116 -1 16H1C1 7.71573 7.71573 1 16 1V-1Z' fill='url(%23paint0_linear_9_1453)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_9_1453' x1='-2.59007e-07' y1='11.0623' x2='31.2139' y2='20.4312' gradientUnits='userSpaceOnUse'%3E%3Cstop stopColor='%231E1822'/%3E%3Cstop offset='0.462674' stopColor='%23EAC2FF'/%3E%3Cstop offset='0.764757' stopColor='%231945D9'/%3E%3Cstop offset='1' stopColor='%231E1822'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); */
  z-index: 1;
}

.roadmap-slider .swiper-button-prev:after,
.roadmap-slider .swiper-button-next:after {
  width: 40px;
  height: 40px;
}

.features-slider .swiper-button-prev,
.roadmap-slider .swiper-button-prev {
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.04453L9 7.84453L0.999999 14.6445' stroke='%23E7D6F8' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E%0A");
  transform: rotate(180deg);
}

.features-slider .swiper-button-next,
.roadmap-slider .swiper-button-next {
  right: auto;
  left: 48px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.04453L9 7.84453L0.999999 14.6445' stroke='%23E7D6F8' strokeWidth='2' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E%0A");
}

.roadmap-slider .swiper-button-next {
  left: auto;
  right: 0%;
}

.value-slider .swiper-slide {
  height: auto;
}

.tokenomics-tbl {
  max-height: calc(100vh - 250px);
  overflow-y: auto;
}

@media only screen and (min-width: 1024px) {
  .nav {
    position: absolute;
    top: 50%;
    left: 1.66666667%;
    width: 100vh;
    height: 74px;
    transform: translate3d(-50%, -50%, 0) rotate(-90deg);
    /* overflow: hidden; */
    overflow: auto;
    z-index: 999;
  }

  .nav__offset-container {
    position: absolute;
    width: 100%;
    height: 100%;
    /* right: 50%; */
    right: 15.308642%;
    top: 0;
  }

  .nav__low-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    will-change: transform;
    contain: layout;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav__item {
    color: rgba(250, 250, 250, 0.3);
    -webkit-transition: all 1s 0.8s cubic-bezier(0.630, 0.195, 0.010, 1.000);
    -moz-transition: all 1s 0.8s cubic-bezier(0.630, 0.195, 0.010, 1.000);
    -o-transition: all 1s 0.8s cubic-bezier(0.630, 0.195, 0.010, 1.000);
    transition: all 1s 0.8s cubic-bezier(0.630, 0.195, 0.010, 1.000);
    position: relative;
    cursor: pointer;
  }

  .nav__item:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    opacity: 0;
    -webkit-transition: all 1s 0.8s cubic-bezier(0.630, 0.195, 0.010, 1.000);
    -moz-transition: all 1s 0.8s cubic-bezier(0.630, 0.195, 0.010, 1.000);
    -o-transition: all 1s 0.8s cubic-bezier(0.630, 0.195, 0.010, 1.000);
    transition: all 1s 0.8s cubic-bezier(0.630, 0.195, 0.010, 1.000);
  }

  .nav__item.active {
    color: #FFFFFF;
  }

  .nav__item.active:after {
    opacity: 1;
  }
}

@media only screen and (max-width: 1023px) {

  .screens {
    max-width: 728px;
    margin: 0 auto;
  }

  .btn-animate,
  .btn-animate .circle {
    height: 22px;
  }

  .btn-animate .circle {
    transform: scale(1, 1);
  }

  .btn-animate {
    transition-delay: 0.5s;
    width: 120px;
  }

  .btn-animate.large {
    transition-delay: 0.5s;
    width: 210px;
  }

  .btn-animate .txt {
    transition-delay: 1s;
    opacity: 1;
  }

  .screen .heading {
    opacity: 1;
  }

  .screen .heading span {
    transform: translateZ(0);
  }

  .screen .text-fadein {
    opacity: 1;
  }

  .screen .sub-heading {
    transform: translateZ(0);
    opacity: 1;
  }

  .screen .desc,
  .screen .box {
    transform: translateZ(0);
    opacity: 1;
  }

  .value-slider .swiper-slide {
    width: 285px;
    height: auto;
  }

  .features-slider {
    padding-top: 0 !important;
  }

  .roadmap-slider {
    width: 100%;
    padding: 0 !important;
  }

  .roadmap-slider .swiper-button-prev,
  .roadmap-slider .swiper-button-next,
  .features-slider .swiper-button-prev,
  .features-slider .swiper-button-next {
    display: none;
  }

  .screens__wrapper {
    transform: none !important;
  }

  .overlay-circle-0,
  .overlay-circle,
  .full-video {
    display: none !important;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 26, 29, 0.63);
    box-shadow: 0px 1.80065px 40px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(40px);
    padding: 70px 75px;
    z-index: 40;
    opacity: 0;
    visibility: hidden;
    transition: all 0.35s ease;
  }

  .nav.opened {
    opacity: 1;
    visibility: visible;
  }

  .nav__offset-container {
    transform: none !important;
  }

  .nav__item+.nav__item {
    margin-top: 20px;
  }

  .nav__item {
    position: relative;
    transition: all 0.35s ease;
  }

  .nav__item::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 0;
    width: 32px;
    height: 1px;
    background: linear-gradient(166.31deg, #EAC2FF 37.97%, #1945D9 90.21%);
    opacity: 0;
    transition: opacity 0.35s ease;
  }

  .nav__item.active {
    padding-left: 40px;
    background: linear-gradient(166.31deg, #EAC2FF 37.97%, #1945D9 90.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .nav__item.active:after {
    opacity: 1;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 55px;
    transition: top .5s ease;
  }

  .header.scrolling-down {
    top: -55px;
  }

  .features-slider .swiper-slide {
    width: 285px;
    margin-right: 8px;
  }

  .value-slider .swiper-slide img {
    transform: scale(0.53);
  }

  .line-linear {
    width: calc(100% - 32px);
  }
}

.btn-round-white:hover {
  border-color: transparent;
}

.btn-round-white .btn-txt {
  transition: all 0.3s ease;
}

.btn-round-white:hover .btn-txt {
  background: linear-gradient(88.45deg, #F79CFF -3.37%, #EB00FF 15.28%, #4A26B7 91.36%, #043698 124.42%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  padding: 5px 13px;
}