@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #171717;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 21px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-gradient {
  background: linear-gradient(178.27deg, #E2ECFB 1.47%, #538DFE 191.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-blue {
  background: linear-gradient(216.64deg, #47FFFF 52.79%, #5179FF 119.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box-gradient {
  background: rgba(39, 39, 42, 0.2);
  box-shadow: 0px 5.22222px 326.389px #AD02DE;
  backdrop-filter: blur(30px);
}

.bg-white-blur {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(4px);
}

.border-r-blur {
  position: relative;
}

.border-r-blur::after {
  content: '';
  width: 1px;
  height: 100%;
  opacity: 0.2;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0;
  top: 0;
}