@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #171717;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 21px;
}

body {
  overflow-x: hidden;
}

main {
  background-repeat: repeat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-gradient {
  background: linear-gradient(178.27deg, #E2ECFB 1.47%, #538DFE 191.56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-blue {
  background: linear-gradient(216.64deg, #47FFFF 52.79%, #5179FF 119.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-blue-01,
.text-menu:hover {
  background: linear-gradient(214.09deg, #C4D2FF 52.1%, #5179FF 94.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-menu:after {
  content: "";
  width: 0;
  height: 1px;
  background: linear-gradient(214.09deg, #C4D2FF 52.1%, #5179FF 94.34%);
  position: absolute;
  bottom: -3px;
  left: 0;
  opacity: 0;
  transition: opacity .35s ease, width .35s ease;
}

.text-menu:hover:after,
.text-menu.active:after {
  opacity: 1;
  width: 100%;
}

.box-gradient {
  background: rgba(39, 39, 42, 0.2);
  box-shadow: 0px 5.22222px 326.389px #AD02DE;
  backdrop-filter: blur(30px);
}

.bg-white-blur {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(4px);
}

.bg-white-blur-007 {
  background: rgba(255, 255, 255, 0.07);
  box-sizing: border-box;
  backdrop-filter: blur(20px);
}

.bg-white-blur-008 {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(30px);
}

.bg-white-blur-003 {
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(40px);
}

.bg-white-blur-015 {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
}

.bg-white-012 {
  background: rgba(255, 255, 255, 0.12);
}

.bg-gradient-pink-200 {
  background: linear-gradient(180deg, #FF34D2 0%, #994DC5 100%);
}

.border-r-blur {
  position: relative;
}

.text-shadow-white-51 {
  text-shadow: 0px 3px 10px rgba(255, 255, 255, 0.51);
}

.bg-gradient-purple {
  background: linear-gradient(88.45deg, #F79CFF -3.37%, #EB00FF 15.28%, #4A26B7 91.36%, #043698 124.42%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.border-r-blur::after {
  content: '';
  width: 1px;
  height: 100%;
  opacity: 0.2;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0;
  top: 0;
}

.box-shadow-black {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
}

.border-linear {
  border-width: 2px;
  border-style: solid;
  -moz-border-image: -moz-linear-gradient(134.12deg, #1E1822 0.44%, #EAC2FF 46.04%, #1945D9 75.81%, #1E1822 99%);
  -webkit-border-image: -webkit-linear-gradient(134.12deg, #1E1822 0.44%, #EAC2FF 46.04%, #1945D9 75.81%, #1E1822 99%);
  border-image: linear-gradient(134.12deg, #1E1822 0.44%, #EAC2FF 46.04%, #1945D9 75.81%, #1E1822 99%);
  -webkit-border-image-slice: 2;
  border-image-slice: 2;
}

.line-linear {
  border-top-width: 3px;
  border-style: solid;
  -moz-border-image: -moz-linear-gradient(90deg, #301B50 0%, #EAC2FF 92.4%, #1E1822 98.32%);
  -webkit-border-image: -webkit-linear-gradient(90deg, #301B50 0%, #EAC2FF 92.4%, #1E1822 98.32%);
  border-image: linear-gradient(90deg, #301B50 0%, #EAC2FF 92.4%, #1E1822 98.32%);
  -webkit-border-image-slice: 2;
  border-image-slice: 2;
}

.line,
.text-animate,
.desc-animate {
  display: block;
  will-change: opacity, transform;
  opacity: 0;
  transform: translateY(100%) translateZ(0);
  animation: 0s cubic-bezier(0.430, 0.195, 0.020, 1.000) 0s forwards line_leave;
}

.is-ready .line,
.is-ready .in-view .text-animate {
  transform: translateY(0) translateZ(0);
  animation: 2s cubic-bezier(0.430, 0.195, 0.020, 1.000) 0s forwards line_enter;
}

.is-ready .in-view .desc-animate {
  animation: 2.5s cubic-bezier(0.430, 0.195, 0.020, 1.000) 0s forwards line_enter;
}

.btn-animate {
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
  transition: all 1s 0.8s cubic-bezier(0.630, 0.195, 0.010, 1.000);
}

.btn-animate .circle {
  content: "";
  width: 100%;
  height: 35px;
  border-radius: 18px;
  transform: scale(0, 0);
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.06);
  transition: all 0.5s cubic-bezier(0.630, 0.195, 0.010, 1.000);
  border: 1px solid #AF5FFF;

}

.btn-animate .txt {
  position: relative;
  opacity: 0;
  transition: all 0.75s cubic-bezier(0.630, 0.195, 0.010, 1.000);
}

.is-ready .in-view .btn-animate .circle {
  transform: scale(1, 1);
}

.is-ready .in-view .btn-animate {
  transition-delay: 0.5s;
  width: 120px;
}

.is-ready .in-view .btn-animate.large {
  transition-delay: 0.5s;
  width: 210px;
}

.is-ready .in-view .txt {
  transition-delay: 1s;
  opacity: 1;
}

.box {
  position: relative;
  opacity: 0;
  top: 10px;
  transition: all 1s ease-in-out;
}

.is-ready .in-view .box {
  transition-delay: 0.25s;
  opacity: 1;
  top: 0;
}

.scrolling {
  transition: all .35s ease;
  background: #18181B;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

@keyframes line_enter {
  from {
    opacity: 0;
    transform: translateY(100%) rotate(3deg) translateZ(0);
  }

  to {
    opacity: 1;
    transform: translateY(0) translateZ(0);
  }
}

@keyframes line_leave {
  from {
    opacity: 1;
    transform: translateY(-15%) translateZ(0)
  }

  to {
    opacity: 0;
    transform: translateY(-100%) translateZ(0);
  }
}

@keyframes btn_animate {
  from {
    opacity: 0;
    transform: scale(0) translateY(-50%) translateX(-50%)
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(-50%) translateX(-50%)
  }
}

.line-gradient {
  border: 1px solid;
  border-image-source: linear-gradient(106.71deg, #1E1822 7.98%, #EAC2FF 45.82%, #1945D9 70.53%, #1E1822 89.76%);
}

.border-top-linear {
  border-width: 1px;
  border-style: solid;
  -moz-border-image: -moz-linear-gradient(106.71deg, #1E1822 7.98%, #EAC2FF 45.82%, #1945D9 70.53%, #1E1822 89.76%);
  -webkit-border-image: -webkit-linear-gradient(106.71deg, #1E1822 7.98%, #EAC2FF 45.82%, #1945D9 70.53%, #1E1822 89.76%);
  border-image: linear-gradient(106.71deg, #1E1822 7.98%, #EAC2FF 45.82%, #1945D9 70.53%, #1E1822 89.76%);
  -webkit-border-image-slice: 2;
  border-image-slice: 2;
}

/* .path {
  stroke-dasharray: 3.23 3.23;
} */

.path {
  stroke-dasharray: 3.23 3.23;
  animation: dash 50s linear infinite;
}

.path.path-1 {
  stroke-dasharray: 6.06 6.06;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}